{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href='..{% static "css/style.css" %}'/>
	<title>whale_api_analysis</title>
</head>
<body>
	<div class="center">
		<h1>whale_api_analysis</h1>
		<p class="explanation"><a href="https://whale-alert.io/">whale-alert</a>のAPIを利用して、大口投資家（50万ドル以上）のBTCの移動量と価格をグラフ化したサービスです。</p>
		<img src="data:image/png;base64,{{ sum | safe }}" alt=""><br>
   		<img src="data:image/png;base64,{{ buy | safe }}" alt=""><br>
   		<img src="data:image/png;base64,{{ sell | safe }}" alt="">
	</div>
</body>
</html>